{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <style>
        h1 {
            background-color: aqua;
        }

        .titulo-especial {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: blue;
        }

        #titulo-do-meio {
            background-color: gray;
        }
    </style> -->
    <link rel="stylesheet" href="{%static 'paciente/css/style.css'%}">
</head>
<body>
    <!-- <h1 class="titulo-especial" style="color: red;">Hello World</h1>

    <h1 class="titulo-especial" id="titulo-do-meio">Outro Texto</h1>

    <h1>Mais um texto</h1> -->
    <h1>Hello World</h1>
</body>
</html>