<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes</title>
</head>

<body>
    <h1>Visualizando Detalhes do Funcionário - {{funcionario.id}}</h1>

    <form method="post" action={% url 'atualizar_funcionario' funcionario.id %}>
        
        {% csrf_token %}


        <label>ID: {{funcionario.id}}</label>
        <br>

        <label>Nome:</label>
        <input name="nome" type="text" value="{{funcionario.nome}}">

        <br>
        <label>Cargo:</label>
        <input name="cargo" type="text" value="{{funcionario.cargo}}">

        <br>
        <label>Departamento:</label>
        <input name="departamento" type="text" value="{{funcionario.departamento}}">

        <!-- <select>
            <option {% if funcionario.departamento in "RH"%} selected {% endif %}
                >RH</option>
            <option {% if funcionario.departamento in "Financeiro" %} selected {% endif %}>Financeiro</option>
            <option {% if funcionario.departamento in "TI" %} selected {% endif %}>TI</option>
        </select> -->
        <br>
        <label>Salário:</label>
        <input name="salario" type="number" value="{{funcionario.salario}}">
        <br>
        <button type="submit">Alterar Cadastro</button>

    </form>

</body>

</html>